* {
    margin: 0;
    padding: 0;
}

.top-bar{
    background: lightblue;
    color: white;
    padding: 1rem;
}

.btn{
    background: blue;
    color: white;
    border: lightblue solid 2px;
    cursor: pointer;
    padding: 0.7rem 2rem;
    border-radius: 30px;
}

.btn:hover{
    opacity: 0.9;
}

.page-info{
    margin-left: 1rem;
}

.error{
    background: orangered;
    color: white;
    padding: 1rem;
}

.canv{
    margin: 20px auto;
    display: block;
    border: lightblue solid 2px;
    border-radius: 20px;
    
}